<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-4.0.xsd
        http://www.springframework.org/schema/cache 
        http://www.springframework.org/schema/cache/spring-cache.xsd">
	
	<context:component-scan base-package="hellfoz" />

 
	<context:annotation-config />
	
	<task:annotation-driven/>
 	
 	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders">
			<value>true</value>
		</property>
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
  	
  	<!--#Configuración del servicio de Spring: MailSernder -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	  <property name="host" value="${mail.host}"/>
	  <property name="port" value="${mail.port}"/>
	  <property name="username" value="${mail.userName}"/>
	  <property name="password" value="${mail.password}"/>
	  <property name="defaultEncoding" value="UTF-8"/>
	  <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">false</prop>
            </props>
        </property>
	</bean>
  	
  	  	
  	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
        <props>
            <prop key="resource.loader">class</prop>
            <prop key="class.resource.loader.class">
                org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </prop>
        </props>
    </property>
	</bean>
	
	<bean id="configuracionDto" class="utiles.Configuracion">
		<property name="mailFrom" value="${mail.from}"></property>
		<property name="mailBcc" value="${mail.bcc}"></property>
	</bean> 
 	
 		<!-- Configuracion de cache -->
  	
	 <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
		<property name="cacheManager" ref="ehcache"/>
	</bean>
	<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml"/>
		<property name="shared" value="true"/>
	</bean>
	
	<cache:annotation-driven key-generator="enhancedDefaultKeyGenerator"/>
	<bean id ="enhancedDefaultKeyGenerator" class="hellfoz.web.EnhancedDefaultKeyGenerator"/>
 	
  	

</beans>
